{{jLoadJSON 'page.news.contents.json' 'template'}}
<html>
    <head>
        {{jRender view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
        {{jRender view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{jRender view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{jRender view="partial_illustration" parameters=(jObj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_10-->
                    <div class='grid_10'>
                        {{#each template.content.contentCol1}}
                            {{jRender content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_10-->
                    <!--start grid_6-->
                    <div class='grid_6'>
                        {{#each template.content.contentCol2}}
                            {{jRender content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_6-->
                    <div class='clear'></div>
                </div>
            </div>
            {{jRender view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
    </body>
</html>


