{{loadJSON 'page.news.contents.json' 'template'}}
<html>
    <head>
        {{render view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{render view="partial_illustration" parameters=(obj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_10-->
                    <div class='grid_10'>
                        {{render content=(obj name="pagetitle" nodeType="jnt:pageTitle")}}
                        {{render content=template.pagecontent.main.breadcrumb}}
                        {{render content=template.pagecontent.main.content}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_10-->
                    <!--start grid_6-->
                    <div class='grid_6'>
                        {{render content=template.pagecontent.aside.sideMenu}}
                        {{render content=(obj name="Right-column" nodeType="jnt:area")}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_6-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>


