{{loadJSON 'page.full-page.contents.json' 'template'}}
<html>
    <head>
        {{render view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{render view="partial_illustration" parameters=(obj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}

            <div id="content">
                <div class="container_16">
                    <!--start grid_16-->
                    <div class='grid_16'>
                        {{#each template.content.rowCol1}}
                            {{render content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_16-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>
