{{loadJSON 'page.home.contents.json' 'template'}}
<html>
    <head>
        {{render view="partialHeadCommon" advanceRenderingConfig="INCLUDE"}}
    </head>

    <body>
        <div class="bodywrapper">
            {{render view="partialHeader" advanceRenderingConfig="INCLUDE"}}
            <div id="illustration">
                <div class="container_16">
                    <!--start grid_16-->
                    <div class='grid_16'>
                        {{render content=template.area.illustration}}
                    </div>
                    <!--stop grid_16-->
                    <div class='clear'></div>
                </div>
            </div>

            <div id="content">
                <div class="container_16">
                    <!--start grid_10-->
                    <div class='grid_10'>
                        {{render content=template.area.mainContent}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_10-->
                    <!--start grid_6-->
                    <div class='grid_6'>
                        {{render content=template.area.aside}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_6-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partialFooter" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partialBodyCss" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>



