{{loadJSON 'page.home.contents.json' 'template'}}
<html>
    <head>
        {{render view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>

    <body>
        <div class="bodywrapper">
            {{render view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{render view="partial_illustration" parameters=(obj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_10-->
                    <div class='grid_10'>
                        {{#each template.content.contentCol1}}
                            {{render content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_10-->
                    <!--start grid_6-->
                    <div class='grid_6'>
                        {{#each template.content.contentCol2}}
                            {{render content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_6-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>



