<html>
    <head>
        {{render view="partialHeadCommon" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partialHeader" advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_16-->
                    <div class='grid_16'>
                        {{render content=(obj name="pagetitle" nodeType="jnt:pageTitle")}}
                        {{render content=(obj name="mainContent" nodeType="jnt:area")}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_16-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partialFooter" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partialBodyCss" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>
