<title>{{currentContent.properties.[jcr:title]}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{{#if currentContent.properties.[jcr:description]}}
    <meta name="description" content="{{currentContent.properties.[jcr:description]}}" />
{{/if}}
{{#if currentContent.properties.[jcr:createdBy]}}
    <meta name="author" content="{{currentContent.properties.[jcr:createdBy]}}" />
{{/if}}
{{#if currentContent.properties.[j:keywords]}}
    <meta name="keywords" content="{{currentContent.properties.[j:keywords]}}" />
{{/if}}

<link rel="stylesheet" type="text/css" href="{{ctx.currentModule}}/css/print.css" media="print" />

{{addResources type="css" resources="960.css,01web.css,02mod.css,navigationN1.css,navigationN2-2.css"}}
{{!#if ctx.mode}}
{{!addResources type="css" resources="edit.css"}}
{{!/if}}