{{loadJSON 'page.events.contents.json' 'template'}}
<html>
    <head>
        {{render view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{render view="partial_illustration" parameters=(obj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}

            <div id="content">
                <div class="container_16">
                    <div class='grid_11'>
                        {{render content=(obj name="pageTitle" nodeType="jnt:pageTitle")}}
                        {{render content=template.pagecontent.main.breadcrumb}}
                        {{render content=(obj name="listA" nodeType="jnt:area")}}
                        {{!KO}}
                        {{!render content=(obj name="events" nodeType="jnt:area")
                                 properties=(obj j:allowedTypes=(arr "jnt:event"))}}
                        {{render content=template.pagecontent.main.events}}
                        <div class='clear'></div>
                    </div>
                    <div class='grid_5'>
                        {{!render view="partialNav2" advanceRenderingConfig="INCLUDE"}}
                        {{render content=template.pagecontent.aside.sideMenu}}
                        {{render content=template.pagecontent.aside.calendar}}
                        {{render content=template.pagecontent.aside.facets view="default" }}
                        <div class='clear'></div>
                    </div>
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>
