{{renderInfo varName='renderInfo'}}
<html>
    <head>
        {{render view="partialHeadCommon" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partialHeader" advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_11-->
                    <div class='grid_11'>
                        {{renderComponent name="pagetitle" primaryNodeType="jnt:pageTitle"}}
                        {{renderComponent name="listA" primaryNodeType="jnt:area"}}
                        {{renderComponent name="publications" primaryNodeType="jnt:area" properties=(obj j:allowedTypes=(arr "jnt:publication"))}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_11-->
                    <!--start grid_5-->
                    <div class='grid_5'>
                        {{!-- renderComponent name="facets" primaryNodeType="jnt:facets" view="default" properties=(obj j:type="jnt:publication") --}}
        <!--                <facets j:bindedComponent="/modules/templates-web-blue/templates/base/publications/row1-col1/publications"
                                j:type="jnt:publication"
                                jcr:primaryType="jnt:facets">
                            <field-hierarchical-facet facet="Categories"
                                                      field="jmix:categorized;j:defaultCategory"
                                                      jcr:primaryType="jnt:fieldHierarchicalFacet"
                                                      limit="100"
                                                      mincount="1"
                                                      missing="false"
                                                      offset="0"
                                                      prefix="/sites/systemsite/categories">
                                <j:translation_en jcr:language="en"
                                                  jcr:primaryType="jnt:translation"
                                                  label="Categories"/>
                            </field-hierarchical-facet>
                        </facets>-->
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_5-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partialFooter" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partialBodyCss" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>