{{jLoadJSON 'page.events.contents.json' 'template'}}
<html>
    <head>
        {{jRender view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{jRender view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{jRender view="partial_illustration" parameters=(jObj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}

            <div id="content">
                <div class="container_16">
                    <div class='grid_11'>
                        {{#each template.row1.row1Col1}}
                            {{jRender content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <div class='grid_5'>
                        {{#each template.row1.row1Col2}}
                            {{jRender content=this}}
                        {{/each}}
                        <div class='clear'></div>
                    </div>
                    <div class='clear'></div>
                </div>
            </div>
            {{jRender view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{jRender view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>
