{{loadJSON 'page.publication.contents.json' 'template'}}
<html>
    <head>
        {{render view="partial_head_common" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partial_header" advanceRenderingConfig="INCLUDE"}}
            {{render view="partial_illustration" parameters=(obj illustration=(JSONstringify template.illustration)) advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_11-->
                    <div class='grid_11'>
                        {{render content=(obj name="pageTitle" nodeType="jnt:pageTitle")}}
                        {{render content=template.pagecontent.main.breadcrumb}}
                        {{render content=(obj name="listA" nodeType="jnt:area")}}
                        {{render content=template.pagecontent.main.publications}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_11-->
                    <!--start grid_5-->
                    <div class='grid_5'>
                        {{render content=template.pagecontent.aside.facets}}
                        {{!-- renderComponent name="facets" primaryNodeType="jnt:facets" view="default" properties=(obj j:type="jnt:publication") --}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_5-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partial_footer" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partial_body_css" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>