{{renderInfo varName='renderInfo'}}
<html>
    <head>
        {{render view="partialHeadCommon" advanceRenderingConfig="INCLUDE"}}
    </head>
    <body>
        <div class="bodywrapper">
            {{render view="partialHeader" advanceRenderingConfig="INCLUDE"}}
            <div id="content">
                <div class="container_16">
                    <!--start grid_10-->
                    <div class='grid_10'>
                        {{render content=(obj name="pagetitle" nodeType="jnt:pageTitle")}}
                        {{render content=(obj name="mainContent" nodeType="jnt:area")}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_10-->
                    <!--start grid_6-->
                    <div class='grid_6'>
                        {{render view="partialNav2" advanceRenderingConfig="INCLUDE"}}
                        {{render content=(obj name="right-column" nodeType="jnt:area")}}
                        <div class='clear'></div>
                    </div>
                    <!--stop grid_6-->
                    <div class='clear'></div>
                </div>
            </div>
            {{render view="partialFooter" advanceRenderingConfig="INCLUDE"}}
        </div>
        {{render view="partialBodyCss" advanceRenderingConfig="INCLUDE"}}
    </body>
</html>
