{{addResources type="css" resources="facets.css"}}
<!--
[jnt:facets] > jnt:content, jmix:queryContent, jmix:bindedComponent
orderable
- j:bindedComponent (weakreference)
- j:type (string, choicelist[subnodetypes = 'jnt:file,jnt:folder,nt:hierarchyNode,jnt:page,jnt:content,jmix:basicContent,jmix:editorialContent,jmix:retrievableContent,jmix:searchable,jmix:tagged',resourceBundle]) indexed=no mandatory
+ * (jnt:facet)
-->

{{#unlessEq (jcrGetProperty "j:bindedComponent" resource=currentResource) ""}}
    not empty bindedComponent here we start to build facets later <div class="facets"> </div>...
{{/unlessEq}}

<div class="facets">
    # -- facets custom view -- #
    <hr/>
    <h4> {{i18n 'facets.selectFilter'}} - ({{jcrGetProperty "j:type"}})</h4>  <br>


<!--

    https://github.com/Jahia/facets/blob/master/src/main/resources/jnt_facets/html/facets.jsp

    // two case used here for our template

    <c:forEach items="${result.facetFields}" var="currentFacet">
        <%@include file="facetDisplay.jspf" %>
    </c:forEach>

    <c:forEach items="${result.facetQuery}" var="facetValue" varStatus="iterationStatus">
        <facet:facetLabel currentActiveFacet="${facetValue}" facetLabels="${facetLabels}" display="false"/>
        <c:if test="${iterationStatus.first or (mappedFacetLabel != currentFacetLabel and not empty mappedFacetLabel)}">
            <c:if test="${not empty currentFacetLabel}">
                </ul></div>
            </c:if>
            <c:set var="currentFacetLabel" value="${mappedFacetLabel}"/>

            <div class="facetsList">
            <h5>${mappedFacetLabel}</h5>
            <ul>
        </c:if>
        <c:if test="${not facet:isFacetValueApplied(facetValue, not empty activeFacetsVars ? activeFacetsVars[activeFacetMapVarName] : null)}">
            <c:set var="facetDrillDownUrl" value="${facet:getFacetDrillDownUrl(facetValue, activeFacetsVars[facetParamVarName])}"/>
            <c:url var="facetUrl" value="${url.mainResource}">
                <c:param name="${facetTargetTypeName}" value="${functions:encodeUrlParam(facetListNodeType)}" />
                <c:param name="${facetParamVarName}" value="${functions:encodeUrlParam(facetDrillDownUrl)}"/>
            </c:url>
            <li><a href="${facetUrl}"><facet:facetValueLabel currentActiveFacetValue="${facetValue}" facetValueLabels="${facetValueLabels}"/></a>
                (${facetValue.value})<br/></li>
        </c:if>
    </c:forEach>

 -->

<!--

 facetDisplay.jspf

    <div class="facetsList">
        <c:if test="${facet:isUnappliedFacetValueExisting(currentFacet, not empty activeFacetsVars ? activeFacetsVars[activeFacetMapVarName] : null)}">
            <h5><facet:facetLabel currentFacetFieldName="${currentFacet.name}" facetLabels="${facetLabels}"/></h5>
        </c:if>
        <ul>
            <c:forEach items="${currentFacet.values}" var="facetValue">
                <c:if test="${not facet:isFacetValueApplied(facetValue, not empty activeFacetsVars ? activeFacetsVars[activeFacetMapVarName] : null)}">
                    <c:url var="facetUrl" value="${url.mainResource}">
                        <c:param name="${facetTargetTypeName}" value="${functions:encodeUrlParam(facetListNodeType)}" />
                        <c:param name="${facetParamVarName}" value="${functions:encodeUrlParam(facet:getFacetDrillDownUrl(facetValue, not empty activeFacetsVars ? activeFacetsVars[facetParamVarName] : null))}"/>
                    </c:url>
                    <li><a href="${facetUrl}" rel="nofollow">
                        <facet:facetValueLabel currentFacetFieldName="${currentFacet.name}" facetValueCount="${facetValue}" facetValueLabels="${facetValueLabels}" facetValueFormats="${facetValueFormats}" facetValueRenderers="${facetValueRenderers}" facetValueNodeTypes="${facetValueNodeTypes}"/>
                    </a> (${facetValue.count})<br/></li>
                </c:if>
            </c:forEach>
        </ul>
    </div>

-->

    {{!--renderComponent name="fieldFacet" primaryNodeType="jnt:fieldFacet" properties=(obj facet="type" field="jnt:event;eventsType" limit="100" mincount="1" missing="false" offset="0")--}}
    {{renderComponent name="field-hierarchical-facet" primaryNodeType="jnt:fieldHierarchicalFacet" view="default" properties=(obj facet="Categories" field="jmix:categorized;j:defaultCategory" limit="100" mincount="1" missing="false" offset="0" prefix="/sites/systemsite/categories")}}
    {{!--renderComponent name="queryFacet" primaryNodeType="jnt:queryFacet" properties=(obj mincount="1" query="0\:FACET\:startDate:[NOW/DAY TO NOW/MONTH+1MONTH] OR 0\:FACET\:endDate:[NOW/DAY TO NOW/MONTH+1MONTH]")--}}


    <!-- NO ALLOWED : Unable to add a node with an abstract node type: jnt:facet -->
    {{!--renderComponent name="facet" primaryNodeType="jnt:facet" view="default"--}}
    <!--  <facet:facetValueLabel currentFacetFieldName="${currentFacet.name}" facetValueCount="${facetValue}" facetValueLabels="${facetValueLabels}" facetValueFormats="${facetValueFormats}" facetValueRenderers="${facetValueRenderers}" facetValueNodeTypes="${facetValueNodeTypes}"/>-->

<!--
    <ul>
        {{#each facetFields}}
            <li><a href="{{facetUrl}}" rel="nofollow">{{renderComponent name="facet" primaryNodeType="jnt:facet" view="default"}}</a> ({{facetValue.count}})<br>{{name}}={{value}}</li>
        {{/each}}
    </ul>
-->


<!--

    // render expected for events view some differences with publication view

    <div class="facetsList">
        <h5>Type</h5>
        <ul>
            <li><a href="/sites/mySite/events.default.html?N-type-events=eJzLyiuxSi1LzSsBABILA6k&amp;N-events=eJxLLi0qSs0r8cxLSa1wS0xOLfFOrTRUVlZOzs9LSwXKJKcCOQYxVm6Ozq4hMVapZUDFxSGVBalWCBUASbgYaw" rel="nofollow">
                conference</a> (1)<br></li>
            <li><a href="/sites/mySite/events.default.html?N-type-events=eJzLyiuxSi1LzSsBABILA6k&amp;N-events=eJxLLi0qSs0r8cxLSa1wS0xOLfFOrTRUVlYuzsgvB1IGMVZujs6uITFWqWVAZcUhlQWpViA5ADXZE70" rel="nofollow">
                show</a> (1)<br></li>
        </ul>
    </div>

    <div class="facetsList">
        <h5>Next events per month</h5>
        <ul>
            <li><a href="/sites/mySite/events.default.html?N-type-events=eJzLyiuxSi1LzSsBABILA6k&amp;N-events=eJwziLFyc3R2DYmxKi5JLCpxSSxJtYr28w_X9_X3C_HQNgRTCiH-CggxIzAVq-AfpGAA152al0KCXmVlZYORZTEALdxomw">June</a>
                (1)<br></li>
        </ul>
    </div>

-->

</div>